body {
    margin: 0px auto;
    color: white;
    background-color: black;
    text-align: center;

}
div#memory img {
    max-width: 100%;
    max-height: 100%;
    margin: 10% auto;
    padding: 0px;
}
div#memory {
    position: absolute;
    background-color: darkgoldenrod;
    width: 680px;
    /* min-width: 50%; */
    max-height: 80%;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: repeat(4, 23%);
    justify-content: space-around;
    gap: 10px;
    margin: 0px 30%;
}
input#reiniciar {
    width: 200px;
}
@media screen and (max-width: 460px){

}